<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.milkyship.backend.FileManageMapper">

	<resultMap id="modelTypeMap" type="com.milkyship.backend.model.fileSystem.FSObject">
		<discriminator javaType="java.lang.Boolean" column="isDir">
			<case value="true" resultType="com.milkyship.backend.model.fileSystem.NetDirectory"/>
			<case value="false" resultType="com.milkyship.backend.model.fileSystem.NetFile"/>
		</discriminator>
	</resultMap>

	<select id="isDir" resultType="int">
		SELECT isDir FROM fileList WHERE uuid=#{FSObjId}
	</select>

	<insert id="add" parameterType="NetDirectory">
		INSERT INTO fileList(uuid, fileName, owner, MD5, parent, filePath, isDir)
			VALUES (#{id}, #{fileName}, #{owner}, "", #{parent}, #{filePath}, 1)
	</insert>

	<insert id="add" parameterType="NetFile">
		INSERT INTO fileList(uuid, fileName, owner, MD5, parent, filePath, isDir)
			VALUES (#{id}, #{fileName}, #{owner}, #{MD5}, #{parent}, #{filePath}, 0)
	</insert>

	<delete id="del" parameterType="String">
		DELETE FROM fileList WHERE uuid=#{FileId}
	</delete>

<!-- TODO: mapper-->

</mapper>